body{
    background-image: URL("https://images.unsplash.com/photo-1519326844852-704caea5679e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1434&q=80");
}
.container{
    width: 450px;
}
.box-1{
    height: 150px;
    background-color: rgb(6, 245, 225);
    border-radius: 20px;
    transition: transform .2s;
    line-height: 110px;
    text-align: center;
    font-size: 150px;
    color: rgb(27, 20, 24);
    font-weight: bold;
    border: 2px solid whitesmoke;
}
.box-1:hover{
    background-color: rgb(236, 232, 16);
    transform: scale(1.1);
}
.box-2{
    height: 150px;
    background-color: rgb(6, 245, 225);
    border-radius: 20px;
    transition: transform .2s;
    line-height: 110px;
    text-align: center;
    font-size: 150px;
    color: rgb(27, 20, 24);
    font-weight: bold;
    border: 2px solid whitesmoke;
}
.box-2:hover{
    background-color: rgb(236, 232, 16);
    transform: scale(1.1);
}
.box-3{
    height: 150px;
    background-color: rgb(6, 245, 225);
    border-radius: 20px;
    transition: transform .2s;
    line-height: 110px;
    text-align: center;
    font-size: 150px;
    color: rgb(27, 20, 24);
    font-weight: bold;
    border: 2px solid whitesmoke;
}
.box-3:hover{
    background-color: rgb(236, 232, 16);
    transform: scale(1.1);
}
.result{
    position: absolute;
    margin-top: 150px;
    margin-left: 930px;
    color: rgb(247, 8, 235);
    font-size: 60px;
}