
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bus Booking</title>
</head>
<body>
    <h1><center>Welcome To Bus Booking</center></h1>
    <img height = 40%, width=18% src = "https://images.pexels.com/photos/1178448/pexels-photo-1178448.jpeg?cs=srgb&dl=pexels-mads-thomsen-1178448.jpg&fm=jpg" alt= "Bus Image 1">
    <img height = 40%, width=20% src = "https://images.pexels.com/photos/385998/pexels-photo-385998.jpeg?cs=srgb&dl=pexels-nubia-navarro-%28nubikini%29-385998.jpg&fm=jpg" alt= "Bus Image 2">
    <img height = 40%, width=20% src = "https://images.pexels.com/photos/996954/pexels-photo-996954.jpeg?cs=srgb&dl=pexels-chut-foto-996954.jpg&fm=jpg" alt= "Bus Image 3">
    <img height = 50%, width=20% src = "https://images.pexels.com/photos/3608967/pexels-photo-3608967.jpeg?cs=srgb&dl=pexels-timcompound-3608967.jpg&fm=jpg" alt= "Bus Image 4">
    <img height = 40%, width=20% src = "https://images.pexels.com/photos/319960/pexels-photo-319960.jpeg?cs=srgb&dl=pexels-alexandr-podvalny-319960.jpg&fm=jpg" alt= "Bus Image 5">
    
    <h2><center>!!!<u>New Delhi To Lucknow</u>!!!</center></h2>
    <h3><center><u>Price:-499*Onwards</u></center></h3>
    <p><center><em>Route:-</em>Delhi-Ghaziabad-Moradabad-Bareli-Lucknow</center></p>
    <p><center><b>Boarding: Kashmiri Gate, Delhi</b></center></p>
    <p><center><b>Arrival: Aalambagh, Lucknow</b></center></p>
    
    <table align = "center", width=20%>
    
        <h3><center><u>Time Table</u></center></h3>
        <tr>
            <th>City</th>
            <th>Time</th>
        </tr>
        <tr align = "center">
            <td>Delhi</td>
            <td>6:00PM</td>
        </tr>
        <tr align = "center">
            <td>Ghaziabad</td>
            <td>12:00AM</td>
        </tr>
        <tr align = "center">
            <td>Mooradabad</td>
            <td>2:00AM</td>
        </tr>
        <tr align = "center">
            <td>Bareli</td>
            <td>4:00AM</td>
        </tr>
        <tr align = "center">
            <td>Lucknow</td>
            <td>7:00AM</td>
        </tr>
        </table>
        <center><a href="https://www.redbus.in/bus-tickets/delhi-to-lucknow?fromCityName=Delhi&fromCityId=733&toCityName=Lucknow&toCityId=1439&onward=24-Feb-2021&gclid=Cj0KCQiA7NKBBhDBARIsAHbXCB4PjohGyHzQqKH_Jc101ZSF-UTv4tf-wpFh3anY6GzYImfIc8bRnJMaApgXEALw_wcB" target="_blank">BOOK NOW</a></center>

        <h2><center>!!!<u>New Delhi To Agra</u>!!!</center></h2>
    <h3><center><u>Price:-299*Onwards</u></center></h3>
    <p><center><em>Route:-</em>Delhi-Faridabad-Palwal-Mathura-Agra</center></p>
    <p><center><b>Boarding: Kashmiri Gate, Delhi</b></center></p>
    <p><center><b>Arrival: AgraFort, Agra</b></center></p>
    
    <table align = "center", width=20%>
    
        <h3><center><u>Time Table</u></center></h3>
        <tr>
            <th>City</th>
            <th>Time</th>
        </tr>
        <tr align = "center">
            <td>Delhi</td>
            <td>5:00AM</td>
        </tr>
        <tr align = "center">
            <td>Faridabad</td>
            <td>5:30AM</td>
        </tr>
        <tr align = "center">
            <td>Palwal</td>
            <td>6:00AM</td>
        </tr>
        <tr align = "center">
            <td>Mathura</td>
            <td>7:00AM</td>
        </tr>
        <tr align = "center">
            <td>Agra</td>
            <td>8:00AM</td>
        </tr>
        </table>
        <center><a href=https://www.redbus.in/bus-tickets/delhi-to-agra?fromCityName=Delhi&fromCityId=733&toCityName=Agra&toCityId=1290&onward=23-Feb-2021&busType=Any>BOOK NOW</a></center>
</body>
</html>